@font-face {
  font-family: "STARWARS";
  src: url("./fonts/STARWARS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("./sw-bg2.jpg");
  /* background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px; */

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
